.row {
    background-color: sandybrown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

#boards {
    background-color: sandybrown;
}