<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>

        <div class="container" id="boards">
              <div class="row">
                <div class="col">
                  New
                </div>
                <div class="col">
                  In progress
                </div>
                <div class="col">
                  Testing
                </div>
                <div class="col">
                  Done
                </div>

              </div>
        </div>
    </body>
</html>